In [1]:
import pandas as pd
import os
import json
import time
from datetime import datetime

In [3]:
# Primero debemos comprobar que existe el archivo con resultados previos, 
# si no es asi lo creamos vacio con las cabeceras correspondientes
if not os.path.isfile('mnist_results.txt'):
    f=open("mnist_results.txt","w+")
    f.write("name,score,utc")
    f.close()
    print("Creado archivo resultados MNIST nuevo!")

Creado archivo resultados MNIST nuevo!

In [4]:
data = pd.read_csv('mnist_results.txt', sep=",")

In [5]:
data

Empty DataFrame
Columns: [name, score, utc]
Index: []

In [6]:
# PODEMOS GUARDAR EL INSTANTE DEL TIEMPO COMO SIGUE
utc = time.time()
# Despues, para poder imprimir el instante exacto llamaremos a 
# st = datetime.fromtimestamp(utc).strftime('%Y-%m-%d %H:%M:%S')

In [7]:
## Simulamos que insertamos resultados en el fichero
data = data.append({"name":"Mario", "score":0.8523512, "utc":utc}, ignore_index=True)
data = data.append({"name":"Fran", "score":0.75235125, "utc":utc-300}, ignore_index=True)
data = data.append({"name":"Salva", "score":0.3523512, "utc":utc-1000}, ignore_index=True)
data = data.append({"name":"Juan", "score":0.7456833, "utc":utc-1111}, ignore_index=True)
data = data.append({"name":"Silvia", "score":0.834673457, "utc":utc-272}, ignore_index=True)
data = data.append({"name":"Rodolfo", "score":0.8673345, "utc":utc-7273}, ignore_index=True)
data = data.append({"name":"Nico", "score":0.43568765, "utc":utc-61465}, ignore_index=True)
data = data.append({"name":"Alberto", "score":0.545654, "utc":utc-452}, ignore_index=True)

In [8]:
data

      name     score           utc
0    Mario  0.852351  1.559743e+09
1     Fran  0.752351  1.559743e+09
2    Salva  0.352351  1.559742e+09
3     Juan  0.745683  1.559742e+09
4   Silvia  0.834673  1.559743e+09
5  Rodolfo  0.867335  1.559736e+09
6     Nico  0.435688  1.559681e+09
7  Alberto  0.545654  1.559742e+09

In [9]:
data.to_csv('mnist_results.txt', sep=",", index=False)

### Simulando carga tabla inicial 3 registros home

In [50]:
data = pd.read_csv('mnist_results.txt', sep=",")

In [51]:
data

      name     score           utc
0    Mario  0.852351  1.559743e+09
1     Fran  0.752351  1.559743e+09
2    Salva  0.352351  1.559742e+09
3     Juan  0.745683  1.559742e+09
4   Silvia  0.834673  1.559743e+09
5    Mario  0.952351  1.559543e+09
6  Rodolfo  0.867334  1.559736e+09
7     Nico  0.435688  1.559681e+09
8  Alberto  0.545654  1.559742e+09

In [64]:
data.groupby('name').count().loc["Mario"]["score"]

2

In [41]:
data.sort_values(by=['score'], ascending=False)

      name     score           utc
5    Mario  0.952351  1.559543e+09
6  Rodolfo  0.867334  1.559736e+09
0    Mario  0.852351  1.559743e+09
4   Silvia  0.834673  1.559743e+09
1     Fran  0.752351  1.559743e+09
3     Juan  0.745683  1.559742e+09
8  Alberto  0.545654  1.559742e+09
7     Nico  0.435688  1.559681e+09
2    Salva  0.352351  1.559742e+09

In [45]:
data = data.sort_values(by=['score'], ascending=False)

In [46]:
registers2display = 3

In [47]:
result, iters = {}, 0 
for index, row in data.iterrows():
    result[iters] = {row['name'],row['score'],row['utc']}
    
    iters+=1
    if iters==registers2display:break

In [48]:
result

{0: {0.9523511999999998, 1559542819.5500743, 'Mario'},
 1: {0.8673344999999999, 1559735546.5500743, 'Rodolfo'},
 2: {0.8523511999999999, 1559742819.5500743, 'Mario'}}

In [49]:
data

      name     score           utc
5    Mario  0.952351  1.559543e+09
6  Rodolfo  0.867334  1.559736e+09
0    Mario  0.852351  1.559743e+09
4   Silvia  0.834673  1.559743e+09
1     Fran  0.752351  1.559743e+09
3     Juan  0.745683  1.559742e+09
8  Alberto  0.545654  1.559742e+09
7     Nico  0.435688  1.559681e+09
2    Salva  0.352351  1.559742e+09